<pdf>
	<dynamic-page page-size="letter-landscape">
	
	<table text-align="center" margin-top="10px">
		
		<tr>
			<h1>MARCA</h1>
		</tr>
		
		{% for entity in entities %}
		<tr>
			<td>{{entity.nombre}}</td>
		</tr>
		
		{%endfor%}
		
	</table>
	
	</dynamic-page>
	
</pdf>