<pdf>
	<dynamic-page page-size="letter-landscape">
	
	<table text-allign="center" margin-top="10px">
		<thead>
		<tr>
			<th>MARCA</th>
		</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
		<tr>
			<td>{{entity.nombre}}</td>
		</tr>
		
		{%endfor%}
		</tbody>
	</table>
	
	</dynamic-page>
	
</pdf>