{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Nueva Marca {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1 id="titulo">Agregar Marca</h1>
    <div class="formAutogenerado">
		
			{{ form(form) }}
		</div>

{% endblock %}