{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Listado Modelos {% endblock %}

{% block contenido %}
<script type="text/javascript">
    $( document ).ready(function() {
	    $('#tabla').dataTable( {
		"language": {
             "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json"
        },
		"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
		} );
	});
	function confirmar(){
        if (confirm("¿Realmente desea realizar esta accion?") == true) {
			if (confirm("Se borrara el modelo y se modificaran los presupuestos que la utilizan") == true) {
				return true;
				}
				else {
				return false;
				}
        }else{
          return false;
        }
    }
</script>	
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
	<div id="tablachica">
    <h1>Listado de modelos</h1>
	
    <table class="table table-striped" id="tabla">
        <thead>
            <tr>
                <th id="thcenter">Nombre</th>
                <th id="sinaccion"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>
					<a href="{{ path('modelo_edit', { 'id': entity.id }) }}" <span class="glyphicon glyphicon-pencil"></span></a>
				
					<a href="{{ path('modelo_delete', { 'id': entity.id }) }}"<span class="glyphicon glyphicon-trash" onclick="return confirmar()"></span></a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('modelo_new') }}" class="btn btn-primary" >
                Agregar Modelo
    </a>
	</div>
    {% endblock %}
