{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Nueva Carpinter&iacute;a {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1 id="titulo">Crear Presupuesto</h1>
    <div class="formAutogenerado">
			{{ form(form) }}
	</div>
{% endblock %}