{% extends "FantasiaBundle:Default:base.html.twig" %}

{% block title %}Dump fallo!{% endblock %}
{%block contenido%}
	<div class="alert alert-danger"> ERROR! La base de datos no pudo ser creada, contacte al administrador. 
    </div>
{% endblock %}