{% extends "FantasiaBundle:Default:base.html.twig" %}

{% block title %}Dump fallo!{% endblock %}
{%block contenido%}
	<div class="alert alert-danger"> ERROR! La base de datos no pudo ser creada, contacte al administrador. <a class="btn btn-primary" href= "{{ path('fantasia_homepage') }}">Volver</a>
    </div>
{% endblock %}