{% extends "FantasiaBundle:Default:base.html.twig" %}

{% block title %}Dump exitoso!{% endblock %}
{% block contenido %}
	<div class='alert alert-success'>
    	La base de datos fue exportada con &eacute;xito. Ruta: {{ pathactual }} 
    </div>
{% endblock %}




