{% extends "FantasiaBundle:Default:base.html.twig" %}

{% block title %} {{mensaje}} {% endblock %}
{%block contenido%}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 
		
		{% include 'FantasiaBundle:Default:menu.html.twig' %}
		{% include 'FantasiaBundle:Default:carousel.html.twig' %}
	{% else %}
			<div class="container" id="login">
			{%  image  '@FantasiaBundle/Resources/public/images/logo.jpg'  %} 
				<img src= "{{  asset_url  }}"  alt= "Example"  /> 
			{%  endimage  %}
		
			{% block fos_user_content %}
				{% render controller("FOSUserBundle:Security:login") %}
			{% endblock fos_user_content %}
			</div>
	{% endif %}	 
{%endblock%}

		
		
		
		
		
		
		
		