{% extends "FantasiaBundle:Default:base.html.twig" %}
{% block title %} ¡Atenci&oacute;n! {% endblock %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-danger">

<p>{{ 'resetting.password_already_requested'|trans }}
<a class="btn btn-primary" href= "{{ path('_login') }}" >Volver</a> 

</p>
</div>
{% endblock fos_user_content %}
