{% trans_default_domain 'FOSUserBundle' %}
<div class="container" id="login">
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
	<h2 id="cambiarContraseña" class="form-signin-heading">Cambiar contraseña</h2> 
	{{ form_widget(form) }}
     <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
</div>
