img {
    display: table-cell;
    margin: 0 auto;
}

#login {
	margin-top: 10%;
    width: 40%;
}

body {
	background-color:black;
}

#user {
	float:right;
}

.formAutogenerado h1 form input{
	margin-left:5px;
	margin-bottom:10px;
}

.formAutogenerado form{
	width: 40%;
    margin-left: 30%;
}

.formAutogenerado select{
	margin-left:5px;
}

.formAutogenerado label{
	display:block;
	font-weight: bold;
}

.formAutogenerado{
	margin-top:20px;
	margin-left:20px;
}

.formAutogenerado div{
	margin-top:5px;
}

#titulo {
	margin-left:40%;
}

#divbase {
	color:white;
}

#tabla {
	background-color: white;
    color: black;
}
