{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Nuevo Cliente {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1>Agregar Cliente</h1>
    <div class="formAutogenerado">
		
			{{ form(form) }}
		</div>
 
    <ul class="record_actions">
		
	</ul>
{% endblock %}