{% extends '::base.html.twig' %}

{% block title %} Nuevo Cliente {% endblock %}

{% block body-%}
    <h1>Agregar Cliente</h1>
    <div class="FormAutogenerado">
		<div id="ClienteNuevo">
			{{ form(form) }}
		</div>
    </div>
    <ul class="record_actions">
		<li>
			<a href="{{ path('cliente') }}">
            Back to the list
			</a>
		</li>
	</ul>
{% endblock %}

