{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Nuevo Cliente {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
	
    <h1 id="titulo">Agregar Cliente</h1>
	
	{% if mensaje %}
		<div class="form-group" id="addForm">
			<div class="alert alert-danger">{{mensaje}}</div>
		</div>
	{%endif%}
	
    <div class="formAutogenerado">		
		{{ form(form) }}
	</div>

{% endblock %}