{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Modificar Abertura {% endblock %}

{% block contenido %}
	{% include 'FantasiaBundle:Default:menu.html.twig' %}
    <h1 id="titulo">Modficar Abertura</h1>
	<div class="formAutogenerado">
    {{ form(edit_form) }}
	</div>
{% endblock %}
