{% extends 'FantasiaBundle:Default:base.html.twig' %}

{% block title %} Nueva Carpinter&iacute;a {% endblock %}

{% block contenido %}
	<script language="javascript">
            $(document).ready(function(){
                 $("#modelo").change(function () {
                       $("#modelo option:selected").each(function () {
							id_modelo=$(this).val();
							$.post("marcas", { id_modelo: id_modelo }, function(data){
								$("#marca").html(data);
								$("#datos").html('');
								$("#marca").change(function () {
									$("#marca option:selected").each(function () {
										id_marca = $(this).val();
										$.post("datos", { id_marca: id_marca, id_modelo: id_modelo }, function(data){
											$("#datos").html(data);
										});			
									});
								})
							});            
						});
					})
				});
			
    </script>

{% include 'FantasiaBundle:Default:menu.html.twig' %}
	
	<h1 id="titulo">Agregar Carpinter&iacute;a</h1>
		
	{% if mensaje %}
		<div class="form-group" id="addForm">
			<div class="alert alert-danger">{{mensaje}}</div>
		</div>
	{%endif%}
		
	<div class="form-group" id="addForm">
		<label>Modelos</label>
		<select name="modelo" id="modelo" class="form-control input-sm" >
			<option value disabled selected>Seleccione un modelo...</option>
			{%for mod in modelos%}
				<option value="{{mod.id}}">{{mod.nombre}}</option>
			{%endfor%}
		</select>
	</div>
	
	<div class="form-group" id="addForm">
		<label>Marcas</label>
		<select name="marca" id="marca" class="form-control input-sm">
			<option value disabled selected>Seleccione una marca...</option>
		</select>
	</div>
	
	<div class="form-group" id="addForm">
		<label>Datos</label>
		<table id="datos" name="datos">
		</table>
	</div>
	
    <div class="formAutogenerado">
		{{ form(form) }}
	</div>
	
{% endblock %}
